h1{
  font-weight: 800;
  line-height: 1em;
  margin-bottom: 0;
}
section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  @media screen and (min-width:768px){
    align-items: center;
  }
}

article {
  text-align: center;
  color: white;
  padding: 10px 40px;
  box-shadow: 1px 1px 200px rgba(0, 0, 0, 0.8);
  width: 500px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* ADJUSTMENT */
  border: 1px solid black;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width:768px){
    justify-content: center;
  }
}

.header,
.footer  { flex: 1 100%; }

.flex-item {
  padding: 10px;
}
.data{
  font-size:10px;
  text-align: left;
}
code{
  font-size:8px;
}
