<section>
  <article>
    <ul class="flex-container">
        <li class="flex-item header">
            <h1>ideaxe</h1>
            <p>from idea to solution</p>
        </li>
        <li class="flex-item sidebar data">
            <p>IDEAXE SEBASTIAN GOS</p>
            <p>ul. Bobrowiecka 11 B/27, 00-728, Warszawa, Polska</p>
        </li>
        <li class="flex-item main data">
            <p>NIP: 5342397641</p>
            <p>REGON: 369549616</p>
        </li>
        <li class="flex-item footer">
          <code>--- deployed with Google Firebase and automated with Travis ---</code>
        </li>
      </ul>
  </article>
</section>
